body{
  /* background-image: url(image/webpgbg.png);  */
  background-size: cover;
  background-repeat:no-repeat;
}
.cover{
  display: flex;
  justify-content: center;
  margin-left: 380px;
  margin-bottom: 70px;
  height: 400px;
  width: 460px;
  /* box-shadow: 11px 12px 13px 12px; */
  padding-top: 30px;
  border-radius: 30px;
  background-color: wheat;
  padding-right: 40px;  

  
}
.covers{
  align-items: center;
  padding-top: 130px;
  padding-left: 220px;
  /* padding:170px 0 50px 170px; */
} 
input[type=text] ,input[type=password]{
 font-size: large;
 font-family:"cabin";
 width: 320px;
 height: 35px;
 font-style: bold;
 margin:0 180px 0 0;
 border-radius: 8px;
} 
input[type=button]{
  background-color:#2F52BD;
  font-weight:bold;
  font-size: 15px;
  width: 140px;
  height: 40px;
  margin:35px 0 0px 85px; 
 color:white;
 cursor: pointer;
 
}
.title{

/* border: solid; */
font-weight: bold;
}
a{
margin-left: 90px;
margin-bottom: 10px;
margin-top: 0px;
color: blue;
} 
.logo{
  
  margin:50px 0 150px 538px;
  /* border:solid; */
  transform: translateY(220%);
 

}

